*{
    margin: 10px auto;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gameDisplay{
    font-size: 3em;
    color: green;
}

#indicators{
    margin: 0 auto;
    height: auto;
    display: flex;
    margin: 10px auto;
    max-width: 100%;
  
}

#clickme:hover{
    color:green;
}

.button{
    margin: 0 auto;
    vertical-align: middle;
}

#container{
    vertical-align: center;
    margin: 0 auto;
}